.navbar{
    margin-bottom: 0px;
}
h2{font-weight:bold}
h3{font-size:20px;}
.tdmn{
    font-weight:bold;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #d7d7d7;
}